doctype html
head
  title Footage
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='icon' href='favicon.ico')
  link(rel='shortcut icon' href='favicon.ico')
  link(rel='bookmark' href='favicon.ico')
  link(rel='stylesheet' href='assets/css/strata.css')
  link(rel='stylesheet' href='assets/css/main.css')
  link(rel='stylesheet' href='assets/css/editorial.css')
  noscript
    link(rel='stylesheet' href='assets/css/noscript.css')
#page-wrapper
  include includes/header.pug
  // Main
  #main
    section.strata-section
      .strata-row
        article.col-6.col-12-xsmall.work-item
          header.strata-major
            h2
              | 經典攝影棚
            hr.strata-major
            h5
              | 高品質即時拍攝。
              br
              | 輕鬆擁有個人專屬回憶。
              br
              br
              | 獨一無二的攝影棚。
        article.col-6.col-12-xsmall.work-item
          header.strata-major
            h2
              | 說明
            hr.strata-major
            h5
              | 請參考網站營業時間前往。
            br
            h2
              | 聯絡我們
            hr.strata-major
            h5
              | 臺北市信義區信義路五段7號89樓攝影棚
              br
              | 電話：02-34567890
              br
              | 營業時間：13:00 ~ 21:00
    section.strata-section
      .strata-row
        article.col-6.col-12-xsmall.work-item
          header.strata-major
            h2
              | 1. 經典攝影棚
            hr.strata-major
            h5
              | 基本攝影棚。
              br
              | 拍攝時，通過多種濾鏡營造不同的感覺。
              br
              br
              | - 拍攝 3 張照片，以 6 格印出
              br
              | - 可選彩色或黑白
              br
              | - 有重拍一次的機會
              br
              | - 建議最多 2 人
              br
              br
              | - 價格：新台幣 500 元
              br
              | - 營業時間：10:00 ~ 14:00
      .strata-row
        article.col-3.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/fulls/classic-photobooth/classic-photobooth-01.jpg')
            img(src='images/thumbs/classic-photobooth/classic-photobooth-01.jpg' alt='')
        article.col-3.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/fulls/classic-photobooth/classic-photobooth-02.jpg')
            img(src='images/thumbs/classic-photobooth/classic-photobooth-02.jpg' alt='')
        article.col-3.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/fulls/classic-photobooth/classic-photobooth-03.jpg')
            img(src='images/thumbs/classic-photobooth/classic-photobooth-03.jpg' alt='')
        article.col-3.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/fulls/classic-photobooth/classic-photobooth-04.jpg')
            img(src='images/thumbs/classic-photobooth/classic-photobooth-04.jpg' alt='')
        article.col-3.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/fulls/classic-photobooth/classic-photobooth-05.jpg')
            img(src='images/thumbs/classic-photobooth/classic-photobooth-05.jpg' alt='')
        article.col-3.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/fulls/classic-photobooth/classic-photobooth-06.jpg')
            img(src='images/thumbs/classic-photobooth/classic-photobooth-06.jpg' alt='')
    section.strata-section
      .strata-row
        article.col-6.col-12-xsmall.work-item
          header.strata-major
            h2
              | 2. 快速攝影棚
            hr.strata-major
            h5
              | 與一般攝影棚不同，沒有空間限制。
              br
              br
              | - 拍攝 3 張照片，以 6 格印出
              br
              | - 可選黑白或彩色
              br
              | - 不提供重拍
              br
              | - 建議最多 6 人
              br
              br
              | - 價格：新台幣 500 元
              br
              | - 營業時間：13:00 ~ 21:00
      .strata-row
        article.col-3.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/fulls/classic-photobooth/classic-photobooth-07.jpg')
            img(src='images/thumbs/classic-photobooth/classic-photobooth-07.jpg' alt='')
        article.col-3.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/fulls/classic-photobooth/classic-photobooth-08.jpg')
            img(src='images/thumbs/classic-photobooth/classic-photobooth-08.jpg' alt='')
        article.col-3.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/fulls/classic-photobooth/classic-photobooth-09.jpg')
            img(src='images/thumbs/classic-photobooth/classic-photobooth-09.jpg' alt='')
        article.col-3.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/fulls/classic-photobooth/classic-photobooth-10.jpg')
            img(src='images/thumbs/classic-photobooth/classic-photobooth-10.jpg' alt='')
        article.col-3.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/fulls/classic-photobooth/classic-photobooth-11.jpg')
            img(src='images/thumbs/classic-photobooth/classic-photobooth-11.jpg' alt='')
        article.col-3.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/fulls/classic-photobooth/classic-photobooth-12.jpg')
            img(src='images/thumbs/classic-photobooth/classic-photobooth-12.jpg' alt='')
  include includes/footer.pug
// Scripts
script(src='assets/js/jquery.min.js')
script(src='assets/js/jquery.scrolly.min.js')
script(src='assets/js/jquery.dropotron.min.js')
script(src='assets/js/jquery.scrollex.min.js')
script(src='assets/js/browser.min.js')
script(src='assets/js/breakpoints.min.js')
script(src='assets/js/util.js')
script(src='assets/js/main.js')
script(src='assets/js/editorial.js')
script(src='assets/js/jquery.poptrox.min.js')
script(src='assets/js/strata.js')

