doctype html
head
  title Footage
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='icon' href='favicon.ico')
  link(rel='shortcut icon' href='favicon.ico')
  link(rel='bookmark' href='favicon.ico')
  link(rel='stylesheet' href='assets/css/strata.css')
  link(rel='stylesheet' href='assets/css/main.css')
  link(rel='stylesheet' href='assets/css/editorial.css')
  noscript
    link(rel='stylesheet' href='assets/css/noscript.css')
#page-wrapper
  include includes/header.pug
  #avatar
    h1
      strong I am Strata
      | , a super simple
      br
      | &#x9;&#x9;&#x9;&#x9;&#x9;responsive site template freebie
      br
      | &#x9;&#x9;&#x9;&#x9;&#x9;crafted by 
      a(href='http://html5up.net') HTML5 UP
      | .
  // Main
  #main
    // Two
    section#two
      .row
        article.col-4.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/fulls/classic-black/classic-black-01.jpg')
            img(src='images/thumbs/classic-black/classic-black-01.jpg' alt='')
        article.col-4.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/fulls/classic-black/classic-black-02.jpg')
            img(src='images/thumbs/classic-black/classic-black-02.jpg' alt='')
        article.col-4.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/fulls/classic-black/classic-black-03.jpg')
            img(src='images/thumbs/classic-black/classic-black-03.jpg' alt='')
        article.col-4.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/fulls/classic-black/classic-black-04.jpg')
            img(src='images/thumbs/classic-black/classic-black-04.jpg' alt='')
        article.col-4.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/fulls/classic-black/classic-black-05.jpg')
            img(src='images/thumbs/classic-black/classic-black-05.jpg' alt='')
        article.col-4.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/fulls/classic-black/classic-black-06.jpg')
            img(src='images/thumbs/classic-black/classic-black-06.jpg' alt='')
        article.col-4.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/fulls/classic-black/classic-black-07.jpg')
            img(src='images/thumbs/classic-black/classic-black-07.jpg' alt='')
        article.col-4.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/fulls/classic-black/classic-black-08.jpg')
            img(src='images/thumbs/classic-black/classic-black-08.jpg' alt='')
        article.col-4.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/fulls/classic-black/classic-black-09.jpg')
            img(src='images/thumbs/classic-black/classic-black-09.jpg' alt='')
        article.col-4.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/fulls/classic-black/classic-black-10.jpg')
            img(src='images/thumbs/classic-black/classic-black-10.jpg' alt='')
        article.col-4.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/fulls/classic-black/classic-black-11.jpg')
            img(src='images/thumbs/classic-black/classic-black-11.jpg' alt='')
        article.col-4.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/fulls/classic-black/classic-black-12.jpg')
            img(src='images/thumbs/classic-black/classic-black-12.jpg' alt='')
        article.col-4.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/fulls/classic-black/classic-black-13.jpg')
            img(src='images/thumbs/classic-black/classic-black-13.jpg' alt='')
        article.col-4.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/fulls/classic-black/classic-black-14.jpg')
            img(src='images/thumbs/classic-black/classic-black-14.jpg' alt='')
        article.col-4.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/fulls/classic-black/classic-black-15.jpg')
            img(src='images/thumbs/classic-black/classic-black-15.jpg' alt='')
  include includes/footer.pug
// Scripts
script(src='assets/js/jquery.min.js')
script(src='assets/js/jquery.scrolly.min.js')
script(src='assets/js/jquery.dropotron.min.js')
script(src='assets/js/jquery.scrollex.min.js')
script(src='assets/js/browser.min.js')
script(src='assets/js/breakpoints.min.js')
script(src='assets/js/util.js')
script(src='assets/js/main.js')
script(src='assets/js/editorial.js')
script(src='assets/js/jquery.poptrox.min.js')
script(src='assets/js/strata.js')

