doctype html
head
  title Footage
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='icon' href='favicon.ico')
  link(rel='shortcut icon' href='favicon.ico')
  link(rel='bookmark' href='favicon.ico')
  link(rel='stylesheet' href='assets/css/strata.css')
  link(rel='stylesheet' href='assets/css/main.css')
  link(rel='stylesheet' href='assets/css/editorial.css')
  noscript
    link(rel='stylesheet' href='assets/css/noscript.css')
#page-wrapper
  // Header
  header#header
    h1#logo
      a(href='/') Footage
    nav#nav
      ul
        li
          a(href='#') 經典
          ul
            li
              a(href='/classic-black') 黑白
            li
              a(href='javascript:void(0)') 價格
            li
              a(href='javascript:void(0)') 攝影棚
        li
          a(href='#') 暗房
          ul
            li
              a(href='javascript:void(0)') 底片
            li
              a(href='javascript:void(0)') 體驗課程
            li
              a(href='javascript:void(0)') 自掃描
            li
              a(href='javascript:void(0)') 價格
            li
              a(href='javascript:void(0)') 攝影棚
        li
          a(href='#') 進階
          ul
            li
              a(href='javascript:void(0)') 彩色
            li
              a(href='javascript:void(0)') 肖像
            li
              a(href='javascript:void(0)') 底片
            li
              a(href='javascript:void(0)') 價格
            li
              a(href='javascript:void(0)') 攝影棚
        li
          a(href='#') 攝影棚
          ul
            li
              a(href='javascript:void(0)') 關於
        li
          a(href='#') 店#
          ul
            li
              a(href='javascript:void(0)') 關於
            li
              a(href='javascript:void(0)') 攝影棚相框
        li
          a(href='#') 顧客專區
          ul
            li
              a(href='javascript:void(0)') 聯繫
            li
              a(href='javascript:void(0)') 價格
            li
              a(href='javascript:void(0)') 常見問題
            li
              a(href='javascript:void(0)') 問與答
            li
              a(href='javascript:void(0)') 注意事項
        li
          a.button.primary(href='#') 登入
  // Main
  #main
    // Two
    section#two
      .row
        article.col-6.col-12-xsmall.work-item
          a.image.fit.thumb(href='images/fulls/01.jpg')
            img(src='images/thumbs/01.jpg' alt='')
          h3 Magna sed consequat tempus
          p Lorem ipsum dolor sit amet nisl sed nullam feugiat.
        article.col-6.col-12-xsmall.work-item
          a.image.fit.thumb(href='images/fulls/02.jpg')
            img(src='images/thumbs/02.jpg' alt='')
          h3 Ultricies lacinia interdum
          p Lorem ipsum dolor sit amet nisl sed nullam feugiat.
        article.col-6.col-12-xsmall.work-item
          a.image.fit.thumb(href='images/fulls/03.jpg')
            img(src='images/thumbs/03.jpg' alt='')
          h3 Tortor metus commodo
          p Lorem ipsum dolor sit amet nisl sed nullam feugiat.
        article.col-6.col-12-xsmall.work-item
          a.image.fit.thumb(href='images/fulls/04.jpg')
            img(src='images/thumbs/04.jpg' alt='')
          h3 Quam neque phasellus
          p Lorem ipsum dolor sit amet nisl sed nullam feugiat.
        article.col-6.col-12-xsmall.work-item
          a.image.fit.thumb(href='images/fulls/05.jpg')
            img(src='images/thumbs/05.jpg' alt='')
          h3 Nunc enim commodo aliquet
          p Lorem ipsum dolor sit amet nisl sed nullam feugiat.
        article.col-6.col-12-xsmall.work-item
          a.image.fit.thumb(href='images/fulls/06.jpg')
            img(src='images/thumbs/06.jpg' alt='')
          h3 Risus ornare lacinia
          p Lorem ipsum dolor sit amet nisl sed nullam feugiat.
  // Footer
  footer#footer
    ul.icons
      li
        a.icon.brands.alt.fa-twitter(href='javascript:void(0)')
          span.label Twitter
      li
        a.icon.brands.alt.fa-facebook-f(href='javascript:void(0)')
          span.label Facebook
      li
        a.icon.brands.alt.fa-linkedin-in(href='javascript:void(0)')
          span.label LinkedIn
      li
        a.icon.brands.alt.fa-instagram(href='javascript:void(0)')
          span.label Instagram
      li
        a.icon.brands.alt.fa-github(href='javascript:void(0)')
          span.label GitHub
      li
        a.icon.solid.alt.fa-envelope(href='javascript:void(0)')
          span.label Email
    ul.copyright
      li &copy; Footage. All rights reserved.
// Scripts
script(src='assets/js/jquery.min.js')
script(src='assets/js/jquery.scrolly.min.js')
script(src='assets/js/jquery.dropotron.min.js')
script(src='assets/js/jquery.scrollex.min.js')
script(src='assets/js/browser.min.js')
script(src='assets/js/breakpoints.min.js')
script(src='assets/js/util.js')
script(src='assets/js/main.js')
script(src='assets/js/editorial.js')
script(src='assets/js/jquery.poptrox.min.js')
script(src='assets/js/strata.js')

