doctype html
head
  title Footage
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='icon' href='favicon.ico')
  link(rel='shortcut icon' href='favicon.ico')
  link(rel='bookmark' href='favicon.ico')
  link(rel='stylesheet' href='assets/css/strata.css')
  link(rel='stylesheet' href='assets/css/main.css')
  link(rel='stylesheet' href='assets/css/editorial.css')
  noscript
    link(rel='stylesheet' href='assets/css/noscript.css')
#page-wrapper
  include includes/header.pug
  // Main
  #main
    section.strata-section
      .strata-row
        article.col-1.col-12-xsmall.work-item
        article.col-10.col-12-xsmall.work-item
          header.strata-major.center
            h2
              | 常見問題
            hr.strata-major
        article.col-1.col-12-xsmall.work-item
      .strata-row
        article.col-1.col-12-xsmall.work-item
        article.col-10.col-12-xsmall.work-item
          header.strata-major.left
            strong.strata-strong 可以停車嗎？
            hr.strata-major.gray
            h5
              | 經典：提供代客停車
              br
              | 代客服務費：30 分鐘新台幣 300 元。
              br
              br
              | 暗房：不提供代客停車。
              br
              | 請使用附近公共停車場。
              br
              | (101 大樓地下停車場 / 從暗房步行 1 分鐘)
              br
              br
              | 進階：不提供代客停車。
              br
              | 請使用 C27 停車場。
              br
              | (C27 停車場 / 步行 1-2 分鐘)
        article.col-1.col-12-xsmall.work-item
      .strata-row
        article.col-1.col-12-xsmall.work-item
        article.col-10.col-12-xsmall.work-item
          header.strata-major.left
            strong.strata-strong 我可以取消預約嗎？
            hr.strata-major.gray
            h5
              | 取消與更改只能在預約前一週進行。
              br
              | 當天取消預約不予退款。
              br
              | 預約前請詳細確認。
              br
              br
              | 如何取消預約：
              br
              | - 會員預約
              br
              | 選取相片 > 查看預約 > 會員登入
              br
              | * 每個預約的查詢頁面不同，請確認相片 *
              br
              br
              | - 非會員預約
              br
              | 選取相片 > 預約查詢 > 非會員預約查詢 > 輸入預約編號 / 聯絡資訊
              br
              | * 每個預約的查詢頁面不同，請確認相片 *
        article.col-1.col-12-xsmall.work-item
      .strata-row
        article.col-1.col-12-xsmall.work-item
        article.col-10.col-12-xsmall.work-item
          header.strata-major.left
            strong.strata-strong 我可以更改預約嗎？
            hr.strata-major.gray
            h5
              | 取消現有預約後，可以在所需的日期重新預約。
              br
              br
              | 取消與更改只能在預約前一週進行。
              br
              | 當天取消預約不予退款。
              br
              | 預約前請詳細確認。
              br
              br
              | 如何取消預約：
              br
              | - 會員預約
              br
              | 預約 > 拍攝類型 (黑白 / 彩色) 預約查詢 > 會員登入
              br
              | * 每個預約的查詢頁面不同，請確認相片 *
              br
              br
              | - 非會員預約
              br
              | 預約 > 拍攝類型 (黑白 / 彩色) 預約查詢 > 非會員預約查詢 > 預約編號 / 聯絡方式
              br
              | * 每個預約的查詢頁面不同，請確認相片 *
        article.col-1.col-12-xsmall.work-item
  include includes/footer.pug
// Scripts
script(src='assets/js/jquery.min.js')
script(src='assets/js/jquery.scrolly.min.js')
script(src='assets/js/jquery.dropotron.min.js')
script(src='assets/js/jquery.scrollex.min.js')
script(src='assets/js/browser.min.js')
script(src='assets/js/breakpoints.min.js')
script(src='assets/js/util.js')
script(src='assets/js/main.js')
script(src='assets/js/editorial.js')
script(src='assets/js/jquery.poptrox.min.js')
script(src='assets/js/strata.js')

