doctype html
head
  title Footage
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='icon' href='favicon.ico')
  link(rel='shortcut icon' href='favicon.ico')
  link(rel='bookmark' href='favicon.ico')
  link(rel='stylesheet' href='assets/css/strata.css')
  link(rel='stylesheet' href='assets/css/main.css')
  link(rel='stylesheet' href='assets/css/editorial.css')
  noscript
    link(rel='stylesheet' href='assets/css/noscript.css')
#page-wrapper
  include includes/header.pug
  // Main
  #main
    section.strata-section
      .strata-row
        article.col-1.col-12-xsmall.work-item
        article.col-10.col-12-xsmall.work-item
          header.strata-major.center
            h2
              | 問與答
            hr.strata-major
        article.col-1.col-12-xsmall.work-item
      .strata-row
        article.col-1.col-12-xsmall.work-item
        article.col-10.col-12-xsmall.work-item
          header.strata-major.left
            strong.strata-strong 我可以在當天拿到相片嗎？
            hr.strata-major.gray
            h5
              | 相片是按照以下順序進行的：拍攝相片 > 選擇相片 > 修圖 (需 1~3 天的校正) > 列印
              br
              br
              | 修圖平均需 1~7 天，因此很難在當天拿到成品。
              br
              | 修圖好的相片之後可至店裡拿取，也可郵寄 (另收運費新台幣 300 元)。
              br
              | 如不需修圖，則可在當天拿到成品。
        article.col-1.col-12-xsmall.work-item
      .strata-row
        article.col-1.col-12-xsmall.work-item
        article.col-10.col-12-xsmall.work-item
          header.strata-major.left
            strong.strata-strong 人數有限制嗎？
            hr.strata-major.gray
            h5
              | 人數沒有特別限制，建議如下：
              br
              br
              | 經典黑白：最多 8 人
              br
              | 暗房肖像：最多 6 人
              br
              | 暗房底片：每格最多可容納 4 人
              br
              | 進階彩色：最多 8 人
              br
              | 進階底片：每格最多可容納 4 人
              br
              br
              | * 對於固定人數的拍攝，多餘人數會收取額外費用 *
              br
              | 每個拍攝項目的標準與價格可能會有所不同，請查看價目表。
        article.col-1.col-12-xsmall.work-item
      .strata-row
        article.col-1.col-12-xsmall.work-item
        article.col-10.col-12-xsmall.work-item
          header.strata-major.left
            strong.strata-strong 拍攝時間多久？
            hr.strata-major.gray
            h5
              |  數位
              br
              | 經典黑白 / 暗房肖像 / 進階採色：15 分鐘
              br
              br
              | 底片
              br
              | 暗房底片 / 進階底片：30 分鐘 (12 張)
              br
              br
              | * 考慮到拍攝準備，照片選擇所需的額外時間，預約以 30 分鐘 (數位) / 1 小時 (底片) 進行 *
              br
              | 如你要拍攝的時間超過提供的標準時間，可連續預定 2 小時或更多。
        article.col-1.col-12-xsmall.work-item
  include includes/footer.pug
// Scripts
script(src='assets/js/jquery.min.js')
script(src='assets/js/jquery.scrolly.min.js')
script(src='assets/js/jquery.dropotron.min.js')
script(src='assets/js/jquery.scrollex.min.js')
script(src='assets/js/browser.min.js')
script(src='assets/js/breakpoints.min.js')
script(src='assets/js/util.js')
script(src='assets/js/main.js')
script(src='assets/js/editorial.js')
script(src='assets/js/jquery.poptrox.min.js')
script(src='assets/js/strata.js')

