doctype html
head
  title Footage
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='icon' href='favicon.ico')
  link(rel='shortcut icon' href='favicon.ico')
  link(rel='bookmark' href='favicon.ico')
  link(rel='stylesheet' href='assets/css/strata.css')
  link(rel='stylesheet' href='assets/css/main.css')
  link(rel='stylesheet' href='assets/css/editorial.css')
  noscript
    link(rel='stylesheet' href='assets/css/noscript.css')
#page-wrapper
  include includes/header.pug
  // Main
  #main
    section.strata-section
      .strata-row
        article.col-4.col-12-xsmall.work-item
        article.col-4.col-12-xsmall.work-item
          header.strata-major.center
            h2
              | 注意事項
            hr.strata-major
        article.col-4.col-12-xsmall.work-item
      .strata-row
        article.col-4.col-12-xsmall.work-item
        article.col-4.col-12-xsmall.work-item
          header.strata-major.center
            strong.strata-strong 停車資訊
            hr.strata-major.gray
            h5
              | 停車場資訊，請詳閱。
              br
              br
              | 無私人停車場。
              br
              | 附近停車場：臺北市信義區信義路五段7號89樓。
              br
              | 可使用咖啡廳旁收費停車場。
              br
              | 停車費：1 小時 / 新台幣 40 元。
              br
              br
              | * 事前須知 *
              br
              | 沒有停車折扣。
              br
              | 超出時間會收取額外費用。
              br
              | 如停車場已滿，將無法停車。
        article.col-4.col-12-xsmall.work-item
      .strata-row
        article.col-4.col-12-xsmall.work-item
        article.col-4.col-12-xsmall.work-item
          header.strata-major.center
            strong.strata-strong 加購花束活動
            hr.strata-major.gray
            h5
              | 先於花店 (@floristbrenda) 上完課。
              br
              | 拿著自己的花束至 Footage 紀錄美麗回憶。
              br
              br
              | 插花班 (1 小時) + 全彩拍攝 + 提供相片原檔
              br
              | 時間：11 月 10 日中午 12 點，限 4 人
              br
              | 價格：新台幣 1300 元
              br
              | 地點：臺北市信義區信義路五段7號89樓
              br
              br
              | 11 月 10 日！只需一天就有特殊體驗！限 4 人！
              br
              | 欲報名請來電 Footage
              br
              | (02-34567890)
        article.col-4.col-12-xsmall.work-item
      .strata-row
        article.col-4.col-12-xsmall.work-item
        article.col-4.col-12-xsmall.work-item
          header.strata-major.center
            strong.strata-strong 照相亭手機殼製作服務開放
            hr.strata-major.gray
            h5
              | 為期一個月的特別活動！
              br
              | 價格：新台幣 1250 元
              br
              br
              | * 注意 *
              br
              | - 此服務僅適用於進階照相亭。
              br
              | - 無法指定背景色，由你拍攝的背景色製成。
              br
              | - 生產時程 3~5 天，可郵寄或現場取件。
        article.col-4.col-12-xsmall.work-item
  include includes/footer.pug
// Scripts
script(src='assets/js/jquery.min.js')
script(src='assets/js/jquery.scrolly.min.js')
script(src='assets/js/jquery.dropotron.min.js')
script(src='assets/js/jquery.scrollex.min.js')
script(src='assets/js/browser.min.js')
script(src='assets/js/breakpoints.min.js')
script(src='assets/js/util.js')
script(src='assets/js/main.js')
script(src='assets/js/editorial.js')
script(src='assets/js/jquery.poptrox.min.js')
script(src='assets/js/strata.js')

