doctype html
head
  title Footage
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='icon' href='favicon.ico')
  link(rel='shortcut icon' href='favicon.ico')
  link(rel='bookmark' href='favicon.ico')
  link(rel='stylesheet' href='assets/css/strata.css')
  link(rel='stylesheet' href='assets/css/main.css')
  link(rel='stylesheet' href='assets/css/editorial.css')
  noscript
    link(rel='stylesheet' href='assets/css/noscript.css')
#page-wrapper
  include includes/header.pug
  // Main
  #main
    section.strata-section
      .strata-row
        article.col-4.col-12-xsmall.work-item
          header.strata-major
            h2
              | 暗房底片
            hr.strata-major
            h5
              | 提供各種自拍照及相機底片資訊。
              br
              br
              | 暗房底片由底片相機拍攝。
              br
              | 拍攝透過具有經典魅力的中型相機。
              br
              | 創建自己 12 張專屬相片。
              br
              br
              | SEE YOU IN THE DARK.
        article.col-4.col-12-xsmall.work-item
          header.strata-major
            h2
              | 服務
            hr.strata-major
            strong.strata-strong 提供
            h5
              | - 底片 1 卷 12 格 / 30 分鐘
              br
              | - 相片掃描和 2 張修圖檔 (jpg)
              br
              | - 相片列印 (2 張 4x6 英吋修圖檔，10 張原檔)
            strong.strata-strong 說明
            h5
              | - 上半身拍攝
              br
              | - 人數沒有限制，每個分格最多容納 4 人
              br
              | - 可選黑白或彩色
              br
              | - 可與寵物一起拍攝
        article.col-4.col-12-xsmall.work-item
          header.strata-major
            h2
              | 預約
            hr.strata-major
            h5
              | 每天保留 10 組。
              br
              | 可透過網站查看預約狀態。
            br
            h2
              | 聯絡我們
            hr.strata-major
            h5
              | 臺北市信義區信義路五段7號89樓攝影棚
              br
              | 電話：02-34567890
              br
              | 營業時間：13:00 ~ 21:00
      .strata-row
        .col-2.col-6-xsmall
        .col-2.col-6-xsmall
        .col-2.col-6-xsmall
          a.strata-button.fit 預約
        .col-2.col-6-xsmall
          a.strata-button.fit(href='/darkroom-price') 價格
        .col-2.col-6-xsmall
        .col-2.col-6-xsmall
    section.strata-section
      .strata-row
        article.col-3.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/darkroom-film/darkroom-film-01.jpg')
            img(src='images/darkroom-film/darkroom-film-01.jpg' alt='')
        article.col-3.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/darkroom-film/darkroom-film-02.jpg')
            img(src='images/darkroom-film/darkroom-film-02.jpg' alt='')
        article.col-3.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/darkroom-film/darkroom-film-03.jpg')
            img(src='images/darkroom-film/darkroom-film-03.jpg' alt='')
        article.col-3.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/darkroom-film/darkroom-film-04.jpg')
            img(src='images/darkroom-film/darkroom-film-04.jpg' alt='')
        article.col-3.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/darkroom-film/darkroom-film-05.jpg')
            img(src='images/darkroom-film/darkroom-film-05.jpg' alt='')
        article.col-3.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/darkroom-film/darkroom-film-06.jpg')
            img(src='images/darkroom-film/darkroom-film-06.jpg' alt='')
        article.col-3.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/darkroom-film/darkroom-film-07.jpg')
            img(src='images/darkroom-film/darkroom-film-07.jpg' alt='')
        article.col-3.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/darkroom-film/darkroom-film-08.jpg')
            img(src='images/darkroom-film/darkroom-film-08.jpg' alt='')
        article.col-3.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/darkroom-film/darkroom-film-09.jpg')
            img(src='images/darkroom-film/darkroom-film-09.jpg' alt='')
        article.col-3.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/darkroom-film/darkroom-film-10.jpg')
            img(src='images/darkroom-film/darkroom-film-10.jpg' alt='')
        article.col-3.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/darkroom-film/darkroom-film-11.jpg')
            img(src='images/darkroom-film/darkroom-film-11.jpg' alt='')
        article.col-3.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/darkroom-film/darkroom-film-12.jpg')
            img(src='images/darkroom-film/darkroom-film-12.jpg' alt='')
        article.col-3.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/darkroom-film/darkroom-film-13.jpg')
            img(src='images/darkroom-film/darkroom-film-13.jpg' alt='')
        article.col-3.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/darkroom-film/darkroom-film-14.jpg')
            img(src='images/darkroom-film/darkroom-film-14.jpg' alt='')
        article.col-3.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/darkroom-film/darkroom-film-15.jpg')
            img(src='images/darkroom-film/darkroom-film-15.jpg' alt='')
        article.col-3.col-6-xsmall.work-item
          a.image.fit.thumb(href='images/darkroom-film/darkroom-film-16.jpg')
            img(src='images/darkroom-film/darkroom-film-16.jpg' alt='')
  include includes/footer.pug
// Scripts
script(src='assets/js/jquery.min.js')
script(src='assets/js/jquery.scrolly.min.js')
script(src='assets/js/jquery.dropotron.min.js')
script(src='assets/js/jquery.scrollex.min.js')
script(src='assets/js/browser.min.js')
script(src='assets/js/breakpoints.min.js')
script(src='assets/js/util.js')
script(src='assets/js/main.js')
script(src='assets/js/editorial.js')
script(src='assets/js/jquery.poptrox.min.js')
script(src='assets/js/strata.js')

