doctype html
head
  title Footage
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='icon' href='favicon.ico')
  link(rel='shortcut icon' href='favicon.ico')
  link(rel='bookmark' href='favicon.ico')
  link(rel='stylesheet' href='assets/css/strata.css')
  link(rel='stylesheet' href='assets/css/main.css')
  link(rel='stylesheet' href='assets/css/editorial.css')
  noscript
    link(rel='stylesheet' href='assets/css/noscript.css')
#page-wrapper
  include includes/header.pug
  // Main
  #main
    section.strata-section
      .strata-row
        article.col-4.col-12-xsmall.work-item
          header.strata-major
            h2
              | 暗房實驗室
            hr.strata-major
            h5
              | 一個黑暗的房間，有關底片的一切。
              br
              | 暗房實驗室提供高品質的相片。
              br
              | 我們提供合理的價格。
              br
              | 不用再擔心找不到合適的實驗室。
              br
              | 將你的回憶由底片留在暗房裡。
              br
              br
              | SEE YOU IN THE DARK.
        article.col-4.col-12-xsmall.work-item
          header.strata-major
            h2
              | 服務
            hr.strata-major
            strong.strata-strong 提供
            h5
              | - 高品質底片沖洗 / 掃描
              br
              | - 個人自掃描 (需預約)
              br
              | - 底片相機出租
            strong.strata-strong 說明
            h5
              | - 販售多種 35mm 底片
              br
              | - Ellie Camera 老式底片相機
              br
              | - 暗房專用相機包
        article.col-4.col-12-xsmall.work-item
          header.strata-major
            h2
              | 預約自掃描
            hr.strata-major
            h5
              | 可透過網站查看預約狀態。
            br
            h2
              | 聯絡我們
            hr.strata-major
            h5
              | 臺北市信義區信義路五段7號89樓攝影棚
              br
              | 電話：02-34567890
              br
              | 營業時間：13:00 ~ 21:00
      .strata-row
        .col-2.col-6-xsmall
        .col-2.col-6-xsmall
        .col-2.col-6-xsmall
          a.strata-button.fit 預約
        .col-2.col-6-xsmall
          a.strata-button.fit(href='/darkroom-price') 價格
        .col-2.col-6-xsmall
        .col-2.col-6-xsmall
    section.strata-section
      .strata-row
        article.col-4.col-12-xsmall.work-item
          header.strata-major
            h2
              | 關於自掃描
            hr.strata-major
            h5
              | - 不想向他人展示私密相片
              br
              | - 客製化顏色製作
              br
              | - 從已保存很久的底片找回記憶
              br
              | - 便宜的價格換取高解析的相片
              br
              br
              | 立即認識暗房自我掃描服務！
        article.col-4.col-12-xsmall.work-item
          header.strata-major
            h2
              | 注意事項
            hr.strata-major
            h5
              | - 需提前預約 (14:00 ~ 19:00)
              br
              | - 每小時最多掃描 4 卷底片
              br
              | - 僅提供 35mm 彩色底片
      .strata-row
        article.col-12.col-12-xsmall.work-item
          a.image.fit.thumb(href='images/darkroom-lab/darkroom-lab-01.jpg')
            img(src='images/darkroom-lab/darkroom-lab-01.jpg' alt='')
  include includes/footer.pug
// Scripts
script(src='assets/js/jquery.min.js')
script(src='assets/js/jquery.scrolly.min.js')
script(src='assets/js/jquery.dropotron.min.js')
script(src='assets/js/jquery.scrollex.min.js')
script(src='assets/js/browser.min.js')
script(src='assets/js/breakpoints.min.js')
script(src='assets/js/util.js')
script(src='assets/js/main.js')
script(src='assets/js/editorial.js')
script(src='assets/js/jquery.poptrox.min.js')
script(src='assets/js/strata.js')

