doctype html
head
  title Strata by HTML5 UP
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet' href='assets/css/strata.css')
// Header
header#header
  .inner
    a.image.avatar(href='#')
      img(src='images/avatar.jpg' alt='')
    h1
      strong I am Strata
      | , a super simple
      br
      | &#x9;&#x9;&#x9;&#x9;&#x9;responsive site template freebie
      br
      | &#x9;&#x9;&#x9;&#x9;&#x9;crafted by 
      a(href='http://html5up.net') HTML5 UP
      | .
// Main
#main
  // One
  section#one
    header.major
      h2
        | Ipsum lorem dolor aliquam ante commodo
        br
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;magna sed accumsan arcu neque.
    p
      | Accumsan orci faucibus id eu lorem semper. Eu ac iaculis ac nunc nisi lorem vulputate lorem neque cubilia ac in adipiscing in curae lobortis tortor primis integer massa adipiscing id nisi accumsan pellentesque commodo blandit enim arcu non at amet id arcu magna. Accumsan orci faucibus id eu lorem semper nunc nisi lorem vulputate lorem neque cubilia.
    ul.actions
      li
        a.button(href='#') Learn More
  // Two
  section#two
    h2 Recent Work
    .row
      article.col-6.col-12-xsmall.work-item
        a.image.fit.thumb(href='images/fulls/01.jpg')
          img(src='images/thumbs/01.jpg' alt='')
        h3 Magna sed consequat tempus
        p Lorem ipsum dolor sit amet nisl sed nullam feugiat.
      article.col-6.col-12-xsmall.work-item
        a.image.fit.thumb(href='images/fulls/02.jpg')
          img(src='images/thumbs/02.jpg' alt='')
        h3 Ultricies lacinia interdum
        p Lorem ipsum dolor sit amet nisl sed nullam feugiat.
      article.col-6.col-12-xsmall.work-item
        a.image.fit.thumb(href='images/fulls/03.jpg')
          img(src='images/thumbs/03.jpg' alt='')
        h3 Tortor metus commodo
        p Lorem ipsum dolor sit amet nisl sed nullam feugiat.
      article.col-6.col-12-xsmall.work-item
        a.image.fit.thumb(href='images/fulls/04.jpg')
          img(src='images/thumbs/04.jpg' alt='')
        h3 Quam neque phasellus
        p Lorem ipsum dolor sit amet nisl sed nullam feugiat.
      article.col-6.col-12-xsmall.work-item
        a.image.fit.thumb(href='images/fulls/05.jpg')
          img(src='images/thumbs/05.jpg' alt='')
        h3 Nunc enim commodo aliquet
        p Lorem ipsum dolor sit amet nisl sed nullam feugiat.
      article.col-6.col-12-xsmall.work-item
        a.image.fit.thumb(href='images/fulls/06.jpg')
          img(src='images/thumbs/06.jpg' alt='')
        h3 Risus ornare lacinia
        p Lorem ipsum dolor sit amet nisl sed nullam feugiat.
    ul.actions
      li
        a.button(href='#') Full Portfolio
  // Three
  section#three
    h2 Get In Touch
    p
      | Accumsan pellentesque commodo blandit enim arcu non at amet id arcu magna. Accumsan orci faucibus id eu lorem semper nunc nisi lorem vulputate lorem neque lorem ipsum dolor.
    .row
      .col-8.col-12-small
        form(method='post' action='#')
          .row.gtr-uniform.gtr-50
            .col-6.col-12-xsmall
              input#name(type='text' name='name' placeholder='Name')
            .col-6.col-12-xsmall
              input#email(type='email' name='email' placeholder='Email')
            .col-12
              textarea#message(name='message' placeholder='Message' rows='4')
        ul.actions
          li
            input(type='submit' value='Send Message')
      .col-4.col-12-small
        ul.labeled-icons
          li
            h3.icon.solid.fa-home
              span.label Address
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;1234 Somewhere Rd.
            br
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Nashville, TN 00000
            br
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;United States
          li
            h3.icon.solid.fa-mobile-alt
              span.label Phone
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;000-000-0000
          li
            h3.icon.solid.fa-envelope
              span.label Email
            a(href='#') hello@untitled.tld
// Footer
footer#footer
  .inner
    ul.icons
      li
        a.icon.brands.fa-twitter(href='#')
          span.label Twitter
      li
        a.icon.brands.fa-github(href='#')
          span.label Github
      li
        a.icon.brands.fa-dribbble(href='#')
          span.label Dribbble
      li
        a.icon.solid.fa-envelope(href='#')
          span.label Email
    ul.copyright
      li &copy; Untitled
      li
        | Design: 
        a(href='http://html5up.net') HTML5 UP
// Scripts
script(src='assets/js/jquery.min.js')
script(src='assets/js/jquery.poptrox.min.js')
script(src='assets/js/browser.min.js')
script(src='assets/js/breakpoints.min.js')
script(src='assets/js/util.js')
script(src='assets/js/strata.js')

