doctype html
head
  title Footage
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='icon' href='favicon.ico')
  link(rel='shortcut icon' href='favicon.ico')
  link(rel='bookmark' href='favicon.ico')
  link(rel='stylesheet' href='assets/css/strata.css')
  link(rel='stylesheet' href='assets/css/main.css')
  link(rel='stylesheet' href='assets/css/editorial.css')
  link(rel='stylesheet' href='assets/css/member.css')
  noscript
    link(rel='stylesheet' href='assets/css/noscript.css')
#page-wrapper
  include includes/header.pug
  // Main
  #main
    section.strata-section
      .strata-row
        .col-4.col-12-xsmall
        .col-4.col-12-xsmall
          form#signup-form.member-card(action='/member-signup-post' method='post')
            header.strata-major.center
              h2
                | Sign Up
            input(type='text' name='name' placeholder='姓名')
            br
            input(type='email' name='email' placeholder='電子郵件')
            br
            input(type='password' name='password' placeholder='密碼')
            br
            input(type='password' name='again' placeholder='再次確認密碼')
            br
            input(type='text' name='phone' placeholder='電話')
            br
            input#male(type='radio' name='sex' value='先生' checked='')
            label(for='male') 先生
            input#female(type='radio' name='sex' value='小姐')
            label(for='female') 小姐
            br
            br
            button.strata-button.fit(type='submit') 註冊
        .col-4.col-12-xsmall
  include includes/footer.pug
// Scripts
script(src='assets/js/jquery.min.js')
script(src='assets/js/jquery.scrolly.min.js')
script(src='assets/js/jquery.dropotron.min.js')
script(src='assets/js/jquery.scrollex.min.js')
script(src='assets/js/browser.min.js')
script(src='assets/js/breakpoints.min.js')
script(src='assets/js/util.js')
script(src='assets/js/main.js')
script(src='assets/js/editorial.js')
script(src='assets/js/jquery.poptrox.min.js')
script(src='assets/js/strata.js')
script(src='assets/js/member.js')

