doctype html
head
  title Footage
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='icon' href='favicon.ico')
  link(rel='shortcut icon' href='favicon.ico')
  link(rel='bookmark' href='favicon.ico')
  link(rel='stylesheet' href='assets/css/strata.css')
  link(rel='stylesheet' href='assets/css/main.css')
  link(rel='stylesheet' href='assets/css/editorial.css')
  noscript
    link(rel='stylesheet' href='assets/css/noscript.css')
#page-wrapper
  include includes/header.pug
  // Main
  #main
    section.strata-section
      .strata-row
        article.col-6.col-12-xsmall.work-item
          header.strata-major
            h2
              | 照相亭
            hr.strata-major
            h5
              | 紀錄真實自我相片。
              br
              | 透過照相亭快速擁有。
              br
              br
              | 高品質即時相機，使用遙控器設置時間直接拍攝。
        article.col-6.col-12-xsmall.work-item
          header.strata-major
            h2
              | 注意事項
            hr.strata-major
            h5
              | 與傳統攝影棚不同，無需預約的即時相機。
              br
              | 請參考網站營業時間前往。
            br
            h2
              | 出租
            hr.strata-major
            h5
              | 如果你正在準備一個特別活動，需要使用照相亭。
              br
              | 請聯繫我們取得相關資訊。
    section.strata-section
      .strata-row
        article.col-6.col-12-xsmall.work-item
          a.image.center.thumb(href='images/photobooth-about/photobooth-about-01.jpg')
            img(src='images/photobooth-about/photobooth-about-01.jpg' alt='')
          br
        article.col-6.col-12-xsmall.work-item
          header.strata-major
            h2
              | 位置
            hr.strata-major
            strong.strata-strong Footage
            h5
              | 臺北市信義區信義路五段7號89樓
            strong.strata-strong Darkroom Footage
            h5
              | 臺北市信義區信義路五段7號90樓
            strong.strata-strong Footage PLUS+
            h5
              | 臺北市信義區信義路五段7號91樓
            strong.strata-strong Footage SHOP#
            h5
              | 臺北市信義區信義路五段7號92樓
            strong.strata-strong Footage HONGDAE
            h5
              | 臺北市信義區信義路五段7號93樓
            strong.strata-strong Stem Coffee COEX
            h5
              | 臺北市信義區信義路五段7號94樓
            strong.strata-strong Instant Funk
            h5
              | 臺北市信義區信義路五段7號95樓
            strong.strata-strong Scene
            h5
              | 臺北市信義區信義路五段7號96樓
            strong.strata-strong STDO
            h5
              | 臺北市信義區信義路五段7號97樓
            strong.strata-strong Coffee & Cigarettes
            h5
              | 臺北市信義區信義路五段7號98樓
            strong.strata-strong Anderson C
            h5
              | 臺北市信義區信義路五段7號99樓
            strong.strata-strong INCHEON Sun Chamber Society
            h5
              | 臺北市信義區信義路五段7號100樓
            strong.strata-strong GANGNEUNG St.Jone's Hotel
            h5
              | 臺北市信義區信義路五段7號101樓
            strong.strata-strong BUSAN
            h5
              | 臺北市信義區信義路五段7號102樓
            strong.strata-strong DAEGU Chicor
            h5
              | 臺北市信義區信義路五段7號103樓
            strong.strata-strong JEJU Palmpane Aewol Cafe
            h5
              | 臺北市信義區信義路五段7號104樓
  include includes/footer.pug
// Scripts
script(src='assets/js/jquery.min.js')
script(src='assets/js/jquery.scrolly.min.js')
script(src='assets/js/jquery.dropotron.min.js')
script(src='assets/js/jquery.scrollex.min.js')
script(src='assets/js/browser.min.js')
script(src='assets/js/breakpoints.min.js')
script(src='assets/js/util.js')
script(src='assets/js/main.js')
script(src='assets/js/editorial.js')
script(src='assets/js/jquery.poptrox.min.js')
script(src='assets/js/strata.js')

