doctype html
head
  title Right Sidebar - Landed by HTML5 UP
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet' href='assets/css/main.css')
  noscript
    link(rel='stylesheet' href='assets/css/noscript.css')
#page-wrapper
  // Header
  header#header
    h1#logo
      a(href='index.pug') Landed
    nav#nav
      ul
        li
          a(href='index.pug') Home
        li
          a(href='#') Layouts
          ul
            li
              a(href='left-sidebar.pug') Left Sidebar
            li
              a(href='right-sidebar.pug') Right Sidebar
            li
              a(href='no-sidebar.pug') No Sidebar
            li
              a(href='#') Submenu
              ul
                li
                  a(href='#') Option 1
                li
                  a(href='#') Option 2
                li
                  a(href='#') Option 3
                li
                  a(href='#') Option 4
        li
          a(href='elements.pug') Elements
        li
          a.button.primary(href='#') Sign Up
  // Main
  #main.wrapper.style1
    .container
      header.major
        h2 Right Sidebar
        p Ipsum dolor feugiat aliquam tempus sed magna lorem consequat accumsan
      .row.gtr-150
        .col-8.col-12-medium
          // Content
          section#content
            a.image.fit(href='#')
              img(src='images/pic06.jpg' alt='')
            h3 Dolore Amet Consequat
            p
              | Aliquam massa urna, imperdiet sit amet mi non, bibendum euismod est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam quam, mollis at magna consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam.
            p
              | Vestibulum diam quam, mollis at consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum. Morbi mattis elementum orci, nec dictum porta cursus justo. Quisque ultricies lorem in ligula condimentum, et egestas turpis sagittis. Cras ac nunc urna. Nullam eget lobortis purus. Phasellus vitae tortor non est placerat tristique.
            h3 Sed Magna Ornare
            p
              | In vestibulum massa quis arcu lobortis tempus. Nam pretium arcu in odio vulputate luctus. Suspendisse euismod lorem eget lacinia fringilla. Sed sed felis justo. Nunc sodales elit in laoreet aliquam. Nam gravida, nisl sit amet iaculis porttitor, risus nisi rutrum metus.
            ul
              li Faucibus orci lobortis ac adipiscing integer.
              li Col accumsan arcu mi aliquet placerat.
              li Lobortis vestibulum ut magna tempor massa nascetur.
              li Blandit massa non blandit tempor interdum.
              li Lacinia mattis arcu nascetur lobortis.
        .col-4.col-12-medium
          // Sidebar
          section#sidebar
            section
              h3 Magna Feugiat
              p
                | Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit..
              footer
                ul.actions
                  li
                    a.button(href='#') Learn More
            hr
            section
              a.image.fit(href='#')
                img(src='images/pic07.jpg' alt='')
              h3 Amet Lorem Tempus
              p
                | Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.
              footer
                ul.actions
                  li
                    a.button(href='#') Learn More
  // Footer
  footer#footer
    ul.icons
      li
        a.icon.brands.alt.fa-twitter(href='#')
          span.label Twitter
      li
        a.icon.brands.alt.fa-facebook-f(href='#')
          span.label Facebook
      li
        a.icon.brands.alt.fa-linkedin-in(href='#')
          span.label LinkedIn
      li
        a.icon.brands.alt.fa-instagram(href='#')
          span.label Instagram
      li
        a.icon.brands.alt.fa-github(href='#')
          span.label GitHub
      li
        a.icon.solid.alt.fa-envelope(href='#')
          span.label Email
    ul.copyright
      li &copy; Untitled. All rights reserved.
      li
        | Design: 
        a(href='http://html5up.net') HTML5 UP
// Scripts
script(src='assets/js/jquery.min.js')
script(src='assets/js/jquery.scrolly.min.js')
script(src='assets/js/jquery.dropotron.min.js')
script(src='assets/js/jquery.scrollex.min.js')
script(src='assets/js/browser.min.js')
script(src='assets/js/breakpoints.min.js')
script(src='assets/js/util.js')
script(src='assets/js/main.js')

