doctype html
head
  title Footage
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='icon' href='favicon.ico')
  link(rel='shortcut icon' href='favicon.ico')
  link(rel='bookmark' href='favicon.ico')
  link(rel='stylesheet' href='assets/css/strata.css')
  link(rel='stylesheet' href='assets/css/main.css')
  link(rel='stylesheet' href='assets/css/editorial.css')
  noscript
    link(rel='stylesheet' href='assets/css/noscript.css')
#page-wrapper
  include includes/header.pug
  // Main
  #main
    section.strata-section
      .strata-row
        article.col-4.col-12-xsmall.work-item
          header.strata-major
            h2
              | 照相亭手機殼
            hr.strata-major
            h5
              | 實體商品店。
              br
              br
              | 照相亭相片製作。
              br
              | 打造與眾不同的手機殼。
              br
              br
              | 可選背景顏色。
              br
              | 可選硬殼或軟殼。
              br
              br
              | FOOTAGE IN YOUR PHONE.
        article.col-4.col-12-xsmall.work-item
          header.strata-major
            h2
              | 服務
            hr.strata-major
            strong.strata-strong 取得方法
            h5
              | 1. 在照相亭製作
              br
              | 2. 在店#申請生產
              br
              | 3. 將自己的回憶變成手機殼
            strong.strata-strong 照相亭位置
            h5
              | - 進階照相亭
              br
              | 臺北市信義區信義路五段7號89樓
              br
              | - 藍色照相亭
              br
              | 臺北市信義區信義路五段7號90樓
              br
              | - 店#照相亭
              br
              | 臺北市信義區信義路五段7號91樓
        article.col-4.col-12-xsmall.work-item
          header.strata-major
            h2
              | 商店位置
            hr.strata-major
            h5
              | - 總店 (14:00 ~ 21:00)
              br
              | 臺北市信義區信義路五段7號89樓
              br
              | - 信義店 (平日 14:00 ~ 21:00 / 假日 12:00 ~ 22:00)
              br
              | 臺北市信義區信義路五段7號90樓
            br
            h2
              | 注意事項
            hr.strata-major
            h5
              | - 僅可使用當天拍攝的相片
              br
              | - 僅可在總店與信義店
              br
              | - 無法使用藍色相框
              br
              | - 生產時程約 3 ~ 7 天
              br
              | - 由於使用材料緣故，用酒精擦拭可能導致變質
    section.strata-section
      .strata-row
        article.col-1.col-12-xsmall.work-item
        article.col-4.col-12-xsmall.work-item
          a.image.fit.thumb(href='images/shop-photoboothcase/shop-photoboothcase-01.jpg')
            img(src='images/shop-photoboothcase/shop-photoboothcase-01.jpg' alt='')
          header.strata-major
            h2
              | 透明手機殼
            hr.strata-major
            h5
              | 價格：新台幣 2800 元
              br
              | 材質：TPU
              br
              | 顏色：黑 / 白
              br
              br
              | 適用手機型號：
              br
              | - iPhone 6 / 6+ / 7 / 8 / SE2 / 7+ / 8+ / X / XS / XR / X MAX / 11 / 11 PRO / 11 PRO MAX / 12 MINI / 12 / 12 PRO / 12 PRO MAX
              br
              | - Galaxy S8 / S8+ / S9 / S9+ / S10 / S10+ / S10E / S105G / S20 / S20+ / S20 ULTRA
              br
              | - Note 8 / 9 / 10 / 10+ / 20 / 20 ULTRA
              br
              br
              | 生產時程約 3 ~ 7 天
        article.col-2.col-12-xsmall.work-item
        article.col-4.col-12-xsmall.work-item
          a.image.fit.thumb(href='images/shop-photoboothcase/shop-photoboothcase-02.jpg')
            img(src='images/shop-photoboothcase/shop-photoboothcase-02.jpg' alt='')
          header.strata-major
            h2
              | 彩色手機殼
            hr.strata-major
            h5
              | 價格：新台幣 2500 元
              br
              | 材質：PC
              br
              | 顏色：薄荷 / 海軍 / 紫 / 黃 / 綠 / 灰 / 粉紅 / 紅
              br
              br
              | 適用手機型號：
              br
              | - iPhone 6 / 6+ / 7 / 8 / SE2 / 7+ / 8+ / X / XS / XR / X MAX / 11 / 11 PRO / 11 PRO MAX / 12 MINI / 12 / 12 PRO / 12 PRO MAX
              br
              | - Galaxy S8 / S8+ / S9 / S9+ / S10 / S10+ / S10E / S105G / S20 / S20+ / S20 ULTRA
              br
              | - Note 8 / 9 / 10 / 10+ / 20 / 20 ULTRA
              br
              br
              | 生產時程約 3 ~ 7 天
              br
              br
              | 星期二 / 三 / 四時，以下型號可於 2 小時內完成：
              br
              | iPhone X / XS / XR / X MAX / 11 / 11 PRO / 11 PRO MAX / 12 MINI / 12 / 12 PRO / 12 PRO MAX
        article.col-1.col-12-xsmall.work-item
      .strata-row
        article.col-12.col-12-xsmall.work-item
          a.image.fit.thumb(href='images/shop-photoboothcase/shop-photoboothcase-03.jpg')
            img(src='images/shop-photoboothcase/shop-photoboothcase-03.jpg' alt='')
  include includes/footer.pug
// Scripts
script(src='assets/js/jquery.min.js')
script(src='assets/js/jquery.scrolly.min.js')
script(src='assets/js/jquery.dropotron.min.js')
script(src='assets/js/jquery.scrollex.min.js')
script(src='assets/js/browser.min.js')
script(src='assets/js/breakpoints.min.js')
script(src='assets/js/util.js')
script(src='assets/js/main.js')
script(src='assets/js/editorial.js')
script(src='assets/js/jquery.poptrox.min.js')
script(src='assets/js/strata.js')

