// Footer
footer#footer
  ul.icons
    li
      a.icon.brands.alt.fa-twitter(href='javascript:void(0)')
        span.label Twitter
    li
      a.icon.brands.alt.fa-facebook-f(href='javascript:void(0)')
        span.label Facebook
    li
      a.icon.brands.alt.fa-linkedin-in(href='javascript:void(0)')
        span.label LinkedIn
    li
      a.icon.brands.alt.fa-instagram(href='javascript:void(0)')
        span.label Instagram
    li
      a.icon.brands.alt.fa-github(href='javascript:void(0)')
        span.label GitHub
    li
      a.icon.solid.alt.fa-envelope(href='javascript:void(0)')
        span.label Email
  ul.copyright
    li &copy; Footage. All rights reserved.

