// Header
header#header
  h1#logo
    a(href='/') Footage
  nav#nav
    ul
      li
        a(href='#') 經典
        ul
          li
            a(href='/classic-black') 黑白
          li
            a(href='/classic-price') 價格
          li
            a(href='/classic-photobooth') 照相亭
      li
        a(href='#') 暗房
        ul
          li
            a(href='/darkroom-film') 底片
          li
            a(href='/darkroom-class') 體驗教室
          li
            a(href='/darkroom-lab') 實驗室
          li
            a(href='/darkroom-price') 價格
          li
            a(href='/darkroom-photobooth') 照相亭
      li
        a(href='#') 進階
        ul
          li
            a(href='/plus-color') 彩色
          li
            a(href='/plus-profile') 肖像
          li
            a(href='/plus-film') 底片
          li
            a(href='/plus-price') 價格
          li
            a(href='/plus-photobooth') 照相亭
      li
        a(href='#') 照相亭
        ul
          li
            a(href='/photobooth-about') 關於
      li
        a(href='#') 店#
        ul
          li
            a(href='/shop-about') 關於
          li
            a(href='/shop-photoboothcase') 照相亭手機殼
      li
        a(href='#') 顧客專區
        ul
          li
            a(href='/customer-contact') 聯絡我們
          li
            a(href='/customer-price') 價格
          li
            a(href='/customer-faq') 常見問題
          li
            a(href='/customer-qna') 問與答
          li
            a(href='/customer-notice') 注意事項
      li
        a.button.primary(href='/member-center') 會員中心
        
